In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-03-28 23:01:15,59.7035,30.7861,39.99,87,0,2.24
1,1,Albany,US,2021-03-28 23:00:50,42.6001,-73.9662,53.01,79,100,9.37
2,2,Bandarbeyla,SO,2021-03-28 23:01:15,9.4942,50.8122,76.64,73,26,4.36
3,3,Tuktoyaktuk,CA,2021-03-28 23:01:16,69.4541,-133.0374,-13.00,77,90,13.80
4,4,Saint-Philippe,RE,2021-03-28 23:01:16,-21.3585,55.7679,77.00,78,0,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Bandarbeyla,SO,2021-03-28 23:01:15,9.4942,50.8122,76.64,73,26,4.36
4,4,Saint-Philippe,RE,2021-03-28 23:01:16,-21.3585,55.7679,77.00,78,0,8.05
7,7,Butaritari,KI,2021-03-28 23:01:17,3.0707,172.7902,81.50,76,84,14.16
11,11,Arraial Do Cabo,BR,2021-03-28 23:00:07,-22.9661,-42.0278,78.01,87,65,8.70
13,13,Laguna,US,2021-03-28 23:01:19,38.4210,-121.4238,80.01,22,1,3.65
14,14,Vaini,TO,2021-03-28 23:01:20,-21.2000,-175.2000,84.20,79,40,10.36
31,31,Atuona,PF,2021-03-28 23:01:27,-9.8000,-139.0333,80.91,74,98,17.13
38,38,Rikitea,PF,2021-03-28 23:01:29,-23.1203,-134.9692,79.20,73,3,15.55
40,40,Nisia Floresta,BR,2021-03-28 23:01:29,-6.0911,-35.2086,80.60,83,40,4.61
45,45,Tecoanapa,MX,2021-03-28 23:01:31,16.5167,-98.7500,84.07,53,0,10.45

In [14]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2       Bandarbeyla      SO     76.64   9.4942   50.8122
4    Saint-Philippe      RE     77.00 -21.3585   55.7679
7        Butaritari      KI     81.50   3.0707  172.7902
11  Arraial Do Cabo      BR     78.01 -22.9661  -42.0278
13           Laguna      US     80.01  38.4210 -121.4238
14            Vaini      TO     84.20 -21.2000 -175.2000
31           Atuona      PF     80.91  -9.8000 -139.0333
38          Rikitea      PF     79.20 -23.1203 -134.9692
40   Nisia Floresta      BR     80.60  -6.0911  -35.2086
45        Tecoanapa      MX     84.07  16.5167  -98.7500

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bandarbeyla,SO,76.64,9.4942,50.8122,JABIR HOTEL
4,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
7,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
11,Arraial Do Cabo,BR,78.01,-22.9661,-42.0278,Pousada Porto Praia
13,Laguna,US,80.01,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
14,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
31,Atuona,PF,80.91,-9.8000,-139.0333,Villa Enata
38,Rikitea,PF,79.20,-23.1203,-134.9692,Pension Maro'i
40,Nisia Floresta,BR,80.60,-6.0911,-35.2086,Rancho Crepusculo
45,Tecoanapa,MX,84.07,16.5167,-98.7500,Hotel Manglares

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))